* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  background-color: transparent;
  text-decoration: none;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.847), rgba(0, 0, 0, 0.564)),
    url(https://i.postimg.cc/vmwjLYS9/students.png);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", "sans-serif";
  color: #ccc;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.95em, 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid #0c53d7;
  z-index: 999;
}

.logo {
  margin-right: 60px;
  padding-left: 20px;
}

.mobile-nav {
  display: none;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 60px;
  gap: 30px;
}

.nav-link {
  color: #fff4f4;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.5s ease;
  flex: 1;
  text-align: center;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #033591;
  transition: width 0.8s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.8s ease;
}

.nav-link:hover::after {
  background-color: #0c53d7;
  margin-top: 10px;
}

.nav-links li {
  text-align: center;
}

.contact-btn {
  background-color: #0c53d7;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 17px;
  transition: all 0.3s ease-in-out;
}

.contact-btn a {
  color: white;
}
.contact-btn:hover {
  background-color: #053faa;
  transform: scale(1.2);
}

small {
  font-size: 1.9rem;
}

h3 {
  font-size: 4.3rem;
}
h3 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.main-content {
  max-width: 800px;
  padding: 8em 1em;
  margin-top: 30px;
}

.info {
  padding: 1em 0.5rem;
  font-size: 1.4rem;
}

.categories .cta {
  background-color: #0c53d7;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin:20px 8px;
  cursor: pointer;
  border-radius: 17px;
  transition: all 0.3s ease-in-out;
}

.cta:hover {
  background-color: #053faa;
  transform: scale(1.2);
}

h4 {
  font-size: 2rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-align: center;
}

h2 {
  font-size: 2rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  position: relative;
  width: 80%;
  text-align: center;
}

h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #053faa;
  animation: move 4s infinite;
}

@keyframes move {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.categories .cta {
  transition: all 0.4s ease-in-out;
   display: block; 
  margin: 18px auto;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  flex: 1;
  margin-left: 110px;
  margin-top: 80px;
}

.categories h2 {
  display: inline-block;
  text-align: center;
}

.categories button {
  margin: 28px 15px;
  font-size: 1.2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 50px;
}

.message {
  width: 60%;
  flex: 2;
  margin-right: 90px;
}


/* Buttons container styling */
.cta-container {
  display: flex;
  flex-direction: row;      
  gap: 6px;                   
  padding: 10px 40px;
}

.cta-container button i {
  font-size: 15px;
  /* margin-left: px; */
  vertical-align: middle;
}

.cta-container button {
  font-size: 17px;
  padding: 8px 20px;
}

.categories button.cta {
  flex: 1;
}

.categories .cta-container {
  display: flex;
  justify-content: center;
}

.cta-shs {
  background-color: #0c53d7;
  border: none;
  color: white;
  padding: 18px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  margin: 6px 10px;
  cursor: pointer;
  border-radius: 17px;
  transition: all 0.3s ease-in-out;
}

.cta-shs:hover {
  background-color: #053faa;
  transform: scale(1.2);
}

.cta-tertiary {
  background-color: #0c53d7;
  border: none;
  color: white;
  padding: 18px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  margin: 6px 8px;
  cursor: pointer;
  border-radius: 17px;
  transition: all 0.3s ease-in-out;
}

.cta-tertiary:hover {
  background-color: #053faa;
  transform: scale(1.2);
}

.main-footer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.717), 0 4px 8px rgba(0, 0, 0, 0.68);
  background-color: hsla(0, 0%, 5%, 0.502);
  text-align: center;
  padding: 1em 0;
  margin-top: 2em;
  border-top: 1px solid #0c53d7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.main-footer p {
  margin: 0;
}

/* .nav-content {
  display: none;
   backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-content.active {
  display: block; 
  position: absolute;
  top: 50px; 
  left: -200px;
   display: flex;
   flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: hsla(0, 0%, 2%, 0.804);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
  padding: 12px 120px;
  width: 100%;
  height: 80vh;
  list-style: none;
}

#mobile-nav-toggle {
  cursor: pointer;
} */

/* Media query for mobile view (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column; 
    padding: 10px 15px; 
  }

  .message {
    width: 100%; 
    margin-right: 0;
  }

  .categories {
    width: 100%;
    margin-left: 0; 
    margin-top: 20px; 
  }

  .cta-container button {
  font-size: 12px;
  padding: 8px 16px;
  gap: 4px;
  margin-inline: 4px;
}
.nav-content {
  display: none;
   backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-content.active {
  display: block; 
  position: absolute;
  top: 50px; 
  left: -200px;
   display: flex;
   flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: hsla(0, 0%, 2%, 0.804);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
  padding: 12px 120px;
  width: 100%;
  height: 80vh;
  list-style: none;
}

#mobile-nav-toggle {
  cursor: pointer;
}
}



@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 1em;
    margin: 0 1em;
  }

  .nav-bar {
    padding: 0.5em 1em;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav {
    position: relative;
  }

  .mobile-nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #053faa;
    padding: 5px;
    width: 100%;
    border-radius: 6px;
  }

  .mobile-nav ul li {
    margin-bottom: 4px;
  }

  .mobile-nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }

  .mobile-nav ul li a:hover {
    color: #d0d1d4;
  }

  #mobile-nav-toggle {
    font-size: 2rem;
    cursor: pointer;
  }

  .bxs-chevrons-down {
    font-size: 2rem;
    cursor: pointer;
  }

  .logo {
    width: 120px;
  }

  .nav-links {
    flex: 2;
    display: none;
    justify-content: flex-end;
  }
  .nav-link {
    padding: 0.5em;
    margin: 0 0.5em;
  }

  h3 {
    font-size: 3rem;
  }

  .main-content {
    padding: 4em 1em;
  }

  .info {
    font-size: 1.2rem;
  }

  .cta {
    padding: 0.5em 1em;
  }

  h4 {
    font-size: 1.5rem;
  }
  

  .main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid #0c53d7;
  }
}
